<h1>Mypages#show</h1>
<p>以下の機能にアクセスしてください:</p>

<ul>
  <li><%= link_to '質問形式トレーニング提案', questions_path %></li>
  <li><%= link_to '筋トレ記録', training_logs_path %></li>
  <li><%= link_to 'ジム検索', gym_search_path %></li>
  <li><%= link_to '部位別トレーニング検索', training_suggestions_path %></li>
  <li><%= link_to 'BGM', bgm_path %></li>
</ul>
