<% provide :title, t("devise.sessions.new.title") %>

<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md mt-10"> 
  <h2 class="text-2xl font-bold text-gray-800 mb-6"><%= t("devise.sessions.new.heading") %></h2>

  <%= form_with(model: resource, url: session_path(resource_name), local: true, class: "space-y-4") do |f| %>
    <div class="p-2 text-gray-700 rounded-lg mt-6">

      <div class="space-y-1">
        <%= f.label :email, t("activerecord.attributes.user.email"), class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, class: "input-field", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="space-y-1">
        <%= f.label :password, t("activerecord.attributes.user.password"), class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, class: "input-field", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center space-x-2 mt-2">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-blue-600 border-gray-500 rounded focus:ring-2 focus:ring-blue-500" %>
          <%= f.label :remember_me, t("devise.sessions.new.remember_me"), class: "text-sm text-gray-700" %>
        </div>
      <% end %>

      <div>
        <%= f.submit t("devise.sessions.new.login_button"), class: "w-full py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 mt-5" %>
      </div>
    </div>
  <% end %>
</div>
