<div class="container mx-auto p-6">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">トレーニング記録を編集</h2>

  <%= form_with(model: @training_log, local: true, class: "space-y-6") do |form| %>
    <!-- トレーニングの種類 -->
    <div>
      <%= form.label :training_type, '種類', class: "block text-sm font-medium text-gray-700 mb-2" %>
      <%= form.text_field :training_type, class: "w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <!-- 重量 -->
    <div>
      <%= form.label :weight, '重量', class: "block text-sm font-medium text-gray-700 mb-2" %>
      <%= form.number_field :weight, class: "w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" %> 
      <span class="text-sm text-gray-500">kg</span>
    </div>

    <!-- 回数 -->
    <div>
      <%= form.label :reps, '回数', class: "block text-sm font-medium text-gray-700 mb-2" %>
      <%= form.number_field :reps, class: "w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      <span class="text-sm text-gray-500">回</span>
    </div>

    <!-- セット数 -->
    <div>
      <%= form.label :sets, 'セット数', class: "block text-sm font-medium text-gray-700 mb-2" %>
      <%= form.number_field :sets, class: "w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      <span class="text-sm text-gray-500">セット</span>
    </div>

    <!-- 曜日 -->
    <div>
      <%= form.label :day_of_week, "曜日", class: "block text-sm font-medium text-gray-700 mb-2" %>
      <%= form.select :day_of_week, [["日曜日", "Sunday"], ["月曜日", "Monday"], ["火曜日", "Tuesday"], ["水曜日", "Wednesday"], ["木曜日", "Thursday"], ["金曜日", "Friday"], ["土曜日", "Saturday"]], {}, class: "w-full border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <!-- 送信ボタン -->
    <div>
      <%= form.submit '更新', class: "w-full bg-green-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400" %>
    </div>
  <% end %>
</div>
