<h2>トレーニング記録を編集</h2>

<%= form_with(model: @training_log, local: true) do |form| %>
  <div>
    <%= form.label :type, '種類' %>
    <%= form.text_field :type %>
  </div>
  
  <div>
    <%= form.label :weight, '重量' %>
    <%= form.number_field :weight %> kg
  </div>

  <div>
    <%= form.label :reps, '回数' %>
    <%= form.number_field :reps %> 回
  </div>

  <div>
    <%= form.label :sets, 'セット数' %>
    <%= form.number_field :sets %> セット
  </div>

  <div>
    <%= form.submit '更新' %>
  </div>
<% end %>
