<h1>トレーニング記録一覧</h1>
<% if @training_logs.present? %>
<% @training_logs.each do |log| %>
    <%= link_to '新しい記録を追加', new_training_log_path %>
  <div>
    <p><strong>種類:</strong> <%= log.training_type %></p>
    <p><strong>重量:</strong> <%= log.weight %> kg</p>
    <p><strong>回数:</strong> <%= log.reps %> 回</p>
    <p><strong>セット数:</strong> <%= log.sets %> セット</p>
  </div>
  <%= link_to '編集', edit_training_log_path(log) %> |
  <%= link_to '削除', log, method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>
<% else %>
  <p>トレーニング記録がありません。新しい記録を追加しましょう！</p>
  <%= link_to '新しい記録を追加', new_training_log_path %>
  <% end %>