<div class="min-h-screen flex flex-col items-center justify-start pt-10 ">
<div class="bg-white p-8 rounded shadow-md w-full max-w-md">

    <div class="container mx-auto">
      <!-- タイトル -->
      <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center"><%= t("training_logs.index.title") %></h1>

      <!-- 新規作成ボタン -->
      <div class="mb-6 text-center">
        <%= link_to t("training_logs.index.new"), new_training_log_path, class: 'inline-block bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400' %>
      </div>

      <% japanese_days = {
        "Monday" => t("days.monday"),
        "Tuesday" => t("days.tuesday"),
        "Wednesday" => t("days.wednesday"),
        "Thursday" => t("days.thursday"),
        "Friday" => t("days.friday"),
        "Saturday" => t("days.saturday"),
        "Sunday" => t("days.sunday")
      } %>
      <% day_order = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>

      <% day_order.each do |day| %>
        <% training_logs = @grouped_training_logs[day] %>
        <% if training_logs.present? %>
          <!-- 曜日ごとの見出し -->
          <h2 class="text-2xl font-semibold text-gray-700 mt-8 mb-4 border-b border-gray-300 pb-2"><%= japanese_days[day] %></h2>

          <% training_logs.each do |training_log| %>
            <!-- トレーニングログカード -->
            <div class="bg-gray-50 p-4 rounded-lg shadow-md mb-4">
              <p class="text-gray-700"><strong><%= t("training_logs.index.type") %>:</strong> <%= training_log.training_type %></p>
              <p class="text-gray-700"><strong><%= t("training_logs.index.weight") %>:</strong> <%= training_log.weight %> kg</p>
              <p class="text-gray-700"><strong><%= t("training_logs.index.reps") %>:</strong> <%= training_log.reps %> <%= t("training_logs.index.times") %></p>
              <p class="text-gray-700"><strong><%= t("training_logs.index.sets") %>:</strong> <%= training_log.sets %> <%= t("training_logs.index.set") %></p>
              <!-- 編集・削除リンク -->
              <div class="mt-4 flex space-x-4">
                <%= link_to t("training_logs.index.edit"), edit_training_log_path(training_log), class: 'text-blue-500 hover:underline' %>
                <%= link_to t("training_logs.index.delete"), training_log, data: { turbo_method: :delete, confirm: t("training_logs.index.confirm") }, class: 'text-red-500 hover:underline' %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
