<h2>パスワードを変更</h2>

<%= form_for @user, url: update_direct_password_path, method: :put do |f| %>
  <div class="field">
    <%= f.label :password, "新しいパスワード" %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを更新" %>
  </div>
<% end %>
