<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon-16x16.ico" type="image/x-icon">
    <title><%= content_for(:title) || "FitAIplanner" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSSとJavaScriptの読み込み -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

    <!-- Font Awesome のスクリプト -->
    <script src="https://kit.fontawesome.com/318fce991d.js" crossorigin="anonymous"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PHEW490EN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6PHEW490EN');
    </script>
    

    <style>
      .last\:border-none {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .last\:border-none a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fab.fa-x-twitter {
        margin: 0;
      }

      /* メディアクエリ: 1000px以下はモバイル用サイドバー表示 */
      @media (max-width: 1000px) {
        .sidebar-mobile {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgba(31, 41, 55, 0.9);
          display: flex;
          justify-content: space-around;
          padding: 0.5rem 0;
          z-index: 50;
        }
        .sidebar-desktop {
          display: none;
        }
      }

      /* メディアクエリ: 1000px以上はPC用サイドバー表示 */
      @media (min-width: 1000px) {
        .sidebar-mobile {
          display: none;
        }
      }
    </style>
  </head>

  <body class="relative">

    <!-- 背景固定用 DIV -->
    <div
      class="fixed inset-0
             bg-[url('/dalle_20241230.webp')]
             bg-no-repeat bg-cover
             bg-[center_top_10%]
             z-0">
    </div>

    <!-- コンテンツラッパー -->
    <div class="relative z-10 w-full min-h-screen">

  <!-- トップナビゲーションバー -->
  <nav class="bg-gray-800 text-white relative z-50 h-16 overflow-visible">
    <div class="flex items-center justify-between px-4">
      <div class="text-3xl font-bold">
        <%= link_to "FitAIplanner", root_path, class: "hover:text-gray-400" %>
      </div>
      <button id="menu-toggle" class="absolute top-1 right-4 text-white focus:outline-none z-50">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    
    <!-- メニューリスト（ドロップダウン） -->
    <ul id="menu"
       class="hidden absolute top-full right-0 mt-0 flex flex-col space-y-4
             bg-gray-100 bg-opacity-80 text-black w-48 p-3 shadow-md z-40">
      <li class="border-b border-gray-300 pb-2">
        <%= link_to root_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
          <i class="fas fa-home"></i>
          <span>ホーム</span>
        <% end %>
      </li>

      <% if user_signed_in? %>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to mypage_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-list"></i>
            <span>機能一覧</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to how_to_use_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-question-circle"></i>
            <span>使い方説明</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to terms_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-file-contract"></i>
            <span>利用規約</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to privacy_policy_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-user-shield"></i>
            <span>プライバシーポリシー</span>
          <% end %>
        </li>
        <li class="last:border-none">
          <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape('このアプリを試してみました！') %>&url=<%= CGI.escape(request.original_url) %>&hashtags=FitAIplanner,トレーニング"
             target="_blank"
             rel="noopener noreferrer"
             class="hover:text-gray-800 block py-2 flex items-center space-x-2">
            <i class="fab fa-x-twitter fa-3x"></i>
            <span></span>
          </a>
        </li>
        <li class>© 2025 - FitAIplanner</li>
      <% else %>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to how_to_use_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-question-circle"></i>
            <span>使い方説明</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to privacy_policy_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-user-shield"></i>
            <span>プライバシーポリシー</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to terms_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-file-contract"></i>
            <span>利用規約</span>
          <% end %>
        </li>
        <li class="last:border-none">
          <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape('このアプリを試してみました！') %>&url=<%= CGI.escape(request.original_url) %>&hashtags=FitAIplanner,トレーニング"
             target="_blank"
             rel="noopener noreferrer"
             class="hover:text-gray-800 block py-2 flex items-center space-x-2">
            <i class="fab fa-x-twitter fa-3x"></i>
            <span></span>
          </a>
        </li>
        <li class>© 2025 - FitAIplanner</li>
      <% end %>
    </ul>
    </nav>

  <!-- サイドバー -->
  <% if user_signed_in? && !(params[:controller] == 'tasks' && params[:action] == 'index') %>
    <div class="sidebar-desktop
            fixed
            top-20      <!-- 上から5rem下げる -->
            bottom-4    <!-- 下から1rem上げる -->
            left-4
            w-64
            bg-gray-900 bg-opacity-80 text-white
            rounded-xl shadow-xl
            overflow-y-auto
            z-40">
      <div class="grid grid-cols-1 gap-2 p-4">
        <!-- 各機能へのリンク -->
        <%= link_to questions_path, class: "flex flex-col items-center p-4 rounded-md hover:bg-gray-700 transition duration-200" do %>
          <i class="fas fa-robot text-4xl mb-2"></i>
          <span class="text-base font-semibold">トレーニングプラン作成(AI)</span>
        <% end %>
        <%= link_to training_logs_path, class: "flex flex-col items-center p-4 rounded-md hover:bg-gray-700 transition duration-200" do %>
          <i class="fas fa-dumbbell text-4xl mb-2"></i>
          <span class="text-base font-semibold">トレーニング記録</span>
        <% end %>
        <%= link_to gym_search_path, class: "flex flex-col items-center p-4 rounded-md hover:bg-gray-700 transition duration-200" do %>
          <i class="fas fa-map-marker-alt text-4xl mb-2"></i>
          <span class="text-base font-semibold">ジム検索</span>
        <% end %>
        <%= link_to new_training_suggestion_path, class: "flex flex-col items-center p-4 rounded-md hover:bg-gray-700 transition duration-200" do %>
          <i class="fas fa-running text-4xl mb-2"></i>
          <span class="text-base font-semibold">部位別トレーニング検索</span>
        <% end %>
        <%= link_to bgm_path, class: "flex flex-col items-center p-4 rounded-md hover:bg-gray-700 transition duration-200" do %>
          <i class="fas fa-music text-4xl mb-2"></i>
          <span class="text-base font-semibold">BGM</span>
        <% end %>
        <%= link_to edit_direct_password_path, class: "flex flex-col items-center p-4 rounded-md hover:bg-gray-700 transition duration-200" do %>
          <i class="fas fa-key text-4xl mb-2"></i>
          <span class="text-base font-semibold">パスワード変更</span>
        <% end %>
      </div>
    </div>

    <!-- モバイル用ナビゲーション -->
    <div class="sidebar-mobile">
      <%= link_to questions_path, class: "text-white flex flex-col items-center" do %>
        <i class="fas fa-robot text-xl"></i>
        <span class="text-xs">AI</span>
      <% end %>
      <%= link_to training_logs_path, class: "text-white flex flex-col items-center" do %>
        <i class="fas fa-dumbbell text-xl"></i>
        <span class="text-xs">記録</span>
      <% end %>
      <%= link_to gym_search_path, class: "text-white flex flex-col items-center" do %>
        <i class="fas fa-map-marker-alt text-xl"></i>
        <span class="text-xs">ジム</span>
      <% end %>
      <%= link_to new_training_suggestion_path, class: "text-white flex flex-col items-center" do %>
        <i class="fas fa-running text-xl"></i>
        <span class="text-xs">部位別</span>
      <% end %>
      <%= link_to bgm_path, class: "text-white flex flex-col items-center" do %>
        <i class="fas fa-music text-xl"></i>
        <span class="text-xs">BGM</span>
      <% end %>
      <%= link_to edit_direct_password_path, class: "text-white flex flex-col items-center" do %>
        <i class="fas fa-key text-xl"></i>
        <span class="text-xs">パスワード変更</span>
      <% end %>
    </div>
  <% end %>


  <% unless (controller_name == 'training_suggestions' && action_name == 'new') || (controller_name == 'questions' && action_name == 'index') %>
  <% flash.each do |key, message| %>
    <div class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded shadow-lg z-50">
      <%= message %>
    </div>
  <% end %>
<% end %>


  <!-- メインコンテンツ -->
  <div class="p-4 sm:p-6 max-w-full mx-0 md:max-w-none md:mx-0">
    <%= yield %>
  </div>

</body>
</html>
