<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- ナビゲーションバー -->
    <nav>
      <ul>
        <li><%= link_to 'ホーム', root_path %></li>
        <% if user_signed_in? %>
          <li>ログイン中です</li> 
          <li><%= link_to 'マイページ', mypage_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path,  data: { turbo_method: :delete } %></li>
        <% else %>
          <li>ログインしていません</li> 
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <%= button_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, method: :post, form: { authenticity_token: true } %>
        <% end %>
      </ul>
    </nav>
    
    <!-- フラッシュメッセージの表示 -->
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>">
        <%= message %>
      </div>
    <% end %>

    <!-- コンテンツの表示 -->
    <%= yield %>
  </body>
</html>
