<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon-16x16.ico" type="image/x-icon">
    <title><%= content_for(:title) || "FitAIplanner" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSSとJavaScriptの読み込み -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", media: 'all', "data-turbo-track": "reload", type: "module" %>

    <!-- Font Awesome のスクリプト -->
    <script src="https://kit.fontawesome.com/318fce991d.js" crossorigin="anonymous"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PHEW490EN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6PHEW490EN');
    </script>

    <style>
      .last\:border-none {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    
      .last\:border-none a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .fab.fa-x-twitter {
        margin: 0;
      }
    </style>

    <!-- OGPメタタグ -->
    <meta property="og:title" content="FitAIplanner - あなたのトレーニングを最適化" />
    <meta property="og:description" content="AIが最適なトレーニングプランを提案します！" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:site_name" content="FitAIplanner" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@YourTwitterHandle" />
  </head>

  <% if request.path == '/terms' || request.path == '/privacy_policy' %>
    <body>
  <% else %>
    <body class="w-full h-screen bg-fixed bg-[url('/dalle_20241230.webp')] bg-no-repeat bg-cover bg-[center_top_10%]">
  <% end %>

    <!-- ナビゲーションバー -->
    <nav class="bg-gray-800 text-white relative">
      <div class="flex items-center justify-between px-4">
        <!-- 左側: ロゴ -->
        <div class="text-xl font-bold">
          <%= link_to "FitAIplanner", root_path, class: "hover:text-gray-400" %>
        </div>

        <!-- ハンバーガーボタン -->
        <button id="menu-toggle" class="absolute top-1 right-4 text-white focus:outline-none z-50">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>

      <!-- メニューリスト -->
      <ul id="menu" class="hidden flex flex-col space-y-4 absolute top-7 right-0 bg-gray-100 bg-opacity-80 text-black w-48 p-3 shadow-md z-40">
      <li class="border-b border-gray-300 pb-2">
        <%= link_to root_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
          <i class="fas fa-home"></i>
          <span>ホーム</span>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to mypage_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-list"></i>
            <span>機能一覧</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to how_to_use_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-question-circle"></i>
            <span>使い方説明</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to terms_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-file-contract"></i>
            <span>利用規約</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to privacy_policy_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-user-shield"></i>
            <span>プライバシーポリシー</span>
          <% end %>
        </li>
      <% else %>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to how_to_use_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-question-circle"></i>
            <span>使い方説明</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to privacy_policy_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-user-shield"></i>
            <span>プライバシーポリシー</span>
          <% end %>
        </li>
        <li class="border-b border-gray-300 pb-2">
          <%= link_to terms_path, class: 'hover:text-gray-800 block py-2 flex items-center space-x-2' do %>
            <i class="fas fa-file-contract"></i>
            <span>利用規約</span>
          <% end %>
        </li>
      <% end %>
    </ul>
    </nav>

    <!-- ローディングインジケータ（最初は非表示） -->
    <div id="loading-indicator"
         class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-50"
         style="display: none;">
      <div class="loader"></div>
    </div>

    <!-- スピナー用CSS -->
    <style>
      .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1.5s linear infinite;
      }

      @keyframes spin {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>

    <!-- フラッシュメッセージの表示 -->
    <% flash.each do |key, message| %>
      <div class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded shadow-lg">
        <%= message %>
      </div>
    <% end %>

    <!-- コンテンツ -->
    <%= yield %>

  </body>
</html>
